Repository eclipse-tycho/tycho, pull requests merged in 2025-05, with the labels that each got.

#4951 Fix case where a non jar dependency is in the chain for wrapping
  tycho-core/src/main/java/org/eclipse/m2e/pde/target/shared/MavenBundleWrapper.java
  tycho-core/src/main/java/org/eclipse/m2e/pde/target/shared/ProcessingMessage.java
  tycho-core/src/test/java/org/eclipse/m2e/pde/target/tests/OSGiMetadataGenerationTest.java
Labels: sponsored, backport-to-tycho-4.0.x

#4976 Add flag to skip execution of tycho-source-plugin
  tycho-source-plugin/src/main/java/org/eclipse/tycho/source/AbstractSourceJarMojo.java
Labels: backport-to-tycho-4.0.x

#4992 Remove unused methods from ArtifactCollection and fix inheritance
  tycho-api/src/main/java/org/eclipse/tycho/DependencyArtifacts.java
  tycho-core/src/main/java/org/eclipse/tycho/core/osgitools/targetplatform/ArtifactCollection.java
  tycho-core/src/main/java/org/eclipse/tycho/core/osgitools/targetplatform/DefaultDependencyArtifacts.java
Labels: backport-to-tycho-4.0.x

#5009 Do not use deprecated API #4948
  tycho-core/src/main/java/org/eclipse/tycho/core/maven/TychoWorkspaceReader.java
Labels: backport-to-tycho-5.0.x

#5010 Do not use deprecated API #4948
  tycho-core/src/main/java/org/eclipse/tycho/core/maven/TychoWorkspaceReader.java
Labels: backport-to-tycho-5.0.x
